<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946874732653-o1jahlb3ejkdfjnjtc9ft1qb6s82s05r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946874732653-o1jahlb3ejkdfjnjtc9ft1qb6s82s05r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>946874732653-datlad88no4nkttro8c6offd94r9p4uq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa7V4YzYpmAOKBlpX6chvD--EF1C0AkxI</string>
	<key>GCM_SENDER_ID</key>
	<string>946874732653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motodealz</string>
	<key>PROJECT_ID</key>
	<string>motodealz-7badd</string>
	<key>STORAGE_BUCKET</key>
	<string>motodealz-7badd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946874732653:ios:d8f2b071a5471cc2576f64</string>
</dict>
</plist>